/* Add CSS Styling */
/*avatar and proportioned - 300px wide, heigh = squared*/
/*avatar and distortioned - 200px wide and height x2*/

.testc{
    color:red;
}
.testc.testb{
    font-size: 48px;
}

.testb{
    font-size: 12px;
}
.testa{
    font-size: 50px;
}

.avatar.proportioned{
    height: auto;
    width: 300px;
}

.avatar.distorted{
    height: 400px;
    width: 200px;
}